@import 'main.css';



.amenities__image {
  background-image: url(../images/promo/promo2.jpg);
  background-position: center;
}

.amenities__title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 1rem;
  font-family: var(--ff-heading);
  text-shadow: 0 0 6px #000;
  text-align: center;
}

.amenities__vip {
  background-image: linear-gradient(45deg, #ffd700, #ffd700, #ff0009);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 4s infinite alternate-reverse;
  transform: scale(1.1);
  text-shadow: 0 0 0;
}

@keyframes animatedText {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

.amenities__logo { 
  display: block;
}

@media (max-width: 35em) {
  .amenities__container {
    max-width: 100%;
  }

  .amenities__title {
    font-size: 2rem;
  }

  .amenities__list {
    font-size: 1rem;
  }
}
